ion-item {
  --inner-padding-end: 0;
  --background: transparent;
}

ion-label {
  margin-top: 12px;
  margin-bottom: 12px;
}

ion-item h2 {
  font-weight: 600;
}

ion-item .date {
  float: right;
  align-items: center;
  display: flex;
}

ion-item ion-icon {
  font-size: 42px;
  margin-right: 8px;
}

ion-item ion-note {
  font-size: 15px;
  margin-right: 12px;
  font-weight: normal;
}

h1 {
  margin: 0;
  font-weight: bold;
  font-size: 22px;
}

p {
  line-height: 22px;
}

.icon-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-author {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 15px;
}

.topic-item, .shared-topic-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topic-label {
  flex-grow: 1;
  margin-right: 15px; // Ajusta este valor como veas necesario
}

.color-picker {
  margin: 0 10px;
}

ion-icon {
  font-size: 30px;
}

// Ajustes para diferentes tamaños de pantalla
@media only screen and (max-width: 600px) {
  .topic-label {
    font-size: 14px; // Reduce el tamaño de la fuente para pantallas pequeñas
  }

  ion-icon {
    font-size: 25px; // Reduce el tamaño del icono para pantallas pequeñas
  }
}
.topic-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topic-label {
  flex-grow: 1;
  margin-right: 15px; /* Adjust this value as needed */
}

.color-picker {
  margin: 0 10px;
  border: none; /* Add this if you don't want a border around the color picker */
}



