<!-- Encabezado de la página con un botón de regreso y el título de la página -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Temas-Luis</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Contenido principal que se muestra solo si hay temas disponibles -->
<ion-content [fullscreen]="true" *ngIf="temas">
  <!-- Tarjeta que contiene las opciones de ordenación -->
  <ion-card>
    <ion-card-header class="comment-author">
      Ordenar por:
    </ion-card-header>
    <ion-card-content>
      <!-- Botones para ordenar los temas -->
      <div class="icon-row" style="margin-left: 5%;">
        <ion-button style="margin-right: 2%;" color="secondary" fill="outline" (click)="sortAZ()">A-Z</ion-button>
        <ion-button style="margin-right: 2%;" color="secondary" fill="outline" (click)="sortZA()">Z-A</ion-button>
        <ion-button style="margin-right: 2%;" color="secondary" fill="outline" (click)="sortIdAsc()">ID Asc</ion-button>
        <ion-button style="margin-right: 2%;" color="secondary" fill="outline" (click)="sortIdDesc()">ID
          Desc</ion-button>
      </div>
    </ion-card-content>

    <!-- Lista de temas con la capacidad de reordenarlos -->
    <ion-list>
      <ion-reorder-group [disabled]="false" (ionItemReorder)="reorder($event)">

        <ion-item *ngFor="let tema of temas">
          <ion-label [routerLink]="'/theme-edit/' + tema.id">
            {{ tema.id }} - {{ tema.name }} - {{ tema.description }}
          </ion-label>
          <!-- Íconos como parte de botones para acciones -->
          <ion-buttons slot="end">
            <ion-button fill="clear" [routerLink]="'/theme-edit/' + tema.id">
              <ion-icon slot="icon-only" name="create" class="edit-icon"></ion-icon>
            </ion-button>
            <ion-button fill="clear"  (click)="confirmDelete(tema.id)">
              <ion-icon slot="icon-only" name="trash" class="delete-icon"></ion-icon>
            </ion-button>
            <ion-button class="view-icon" class="acercar" fill="clear"  (click)="cambiarPantalla(tema.id)">
              <ion-icon  slot="icon-only" name="eye-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>

      </ion-reorder-group>
    </ion-list>
  </ion-card>

  <!-- Botón para guardar el orden actual de los temas -->
  <div class="ion-text-center">
    <ion-button (click)="saveOrder()" shape="round">
      Guardar
      <ion-icon slot="end" name="save-outline"></ion-icon>
    </ion-button>
  </div>

  <!-- Botón flotante para agregar un nuevo tema -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button [routerLink]="'/theme-edit/0'">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>